#jumbotron {
	height: 300px;
	width: 100%;
	background-image: url(../assets/img/jumbotron.jpg);
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
  }
  
  #comics-list {
	height: 500px;
	background-color: #1c1c1c;
	padding-top: 25px;
  
	.wrapper {
	  display: flex;
	  flex-wrap: wrap;
	}
  
	.container {
	  position: relative;
  
	  .big-label {
		position: absolute;
		left: 0;
		top: 0;
		transform: translate(0%, -100%);
	  }
  
	  .small-label {
		position: absolute;
		right: 50%;
		bottom: 10%;
		transform: translate(50%, 50%);
	  }
	}
  }

  .big-label {
	display: inline-block;
	background-color: #0282f9;
	padding: 12px 25px;
  
	color: white;
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: bolder;
  }

  .comic-card {
	color: white;
  
	flex-basis: calc(100% / 6);
	height: 165px;
	padding: 20px;
	margin-bottom: 20px;
	transition: transform 500ms;
  
	&:hover {
	  transform: scale(1.1);
	  transition: transform 500ms;
	}
  
	figure {
	  max-height: 100%;
	  overflow: hidden;
	}
	h5 {
	  margin-top: 20px;
	  font-size: 0.6rem;
	  font-weight: lighter;
	  text-transform: uppercase;
	}
  }

  .small-label {
	display: inline-block;
	background-color: #0282f9;
	padding: 12px 40px;
  
	color: white;
	text-transform: uppercase;
	font-size: 0.7rem;
	font-weight: bolder;
  }