* {
  font-family: "Segoe UI", "Open Sans", Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* .container {
  height: 100%;
  margin: 0 auto;
  max-width: 1000px;
}

img {
  max-width: 100%;
}

.col-2 {
  width: 50%;
  height: 100%;
  display: inline-block;
}

a {
  text-decoration: none;
}

.border {
  padding: 20px 15px;
  border: 3px solid #0282f9;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
}

ul {
  list-style-type: none;
}
ul li {
  display: inline-block;
  padding: 60px 10px;
}
ul li a {
  text-decoration: none;
  padding: 60px 0 55px 0;
  color: black;
  text-transform: uppercase;
}
ul li a:hover, ul li a.active, ul li a.active {
  color: #0282f9;
  border-bottom: 5px solid #0282f9;
}