* {
  font-family: "Segoe UI", "Open Sans", Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* .container {
  height: 100%;
  margin: 0 auto;
  max-width: 1000px;
}

img {
  max-width: 100%;
}

.col-2 {
  width: 50%;
  height: 100%;
  display: inline-block;
}

a {
  text-decoration: none;
}

.border {
  padding: 20px 15px;
  border: 3px solid #0282f9;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
}
header ul {
  list-style-type: none;
}
header ul li {
  display: inline-block;
  padding: 60px 10px;
}
header ul li a {
  text-decoration: none;
  padding: 60px 0 55px 0;
  color: black;
  text-transform: uppercase;
}
header ul li a:hover, header ul li a.active, header ul li a.active {
  color: #0282f9;
  border-bottom: 5px solid #0282f9;
}

#jumbotron {
  height: 300px;
  width: 100%;
  background-image: url("../img/jumbotron.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

#comics-list {
  height: 500px;
  background-color: #1c1c1c;
  padding-top: 25px;
}
#comics-list .wrapper {
  display: flex;
  flex-wrap: wrap;
}
#comics-list .container {
  position: relative;
}
#comics-list .container .big-label {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0%, -100%);
}
#comics-list .container .small-label {
  position: absolute;
  right: 50%;
  bottom: 10%;
  transform: translate(50%, 50%);
}

.big-label {
  display: inline-block;
  background-color: #0282f9;
  padding: 12px 25px;
  color: white;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bolder;
}

.comic-card {
  color: white;
  flex-basis: 16.6666666667%;
  height: 165px;
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 500ms;
}
.comic-card:hover {
  transform: scale(1.1);
  transition: transform 500ms;
}
.comic-card figure {
  max-height: 100%;
  overflow: hidden;
}
.comic-card h5 {
  margin-top: 20px;
  font-size: 0.6rem;
  font-weight: lighter;
  text-transform: uppercase;
}

.small-label {
  display: inline-block;
  background-color: #0282f9;
  padding: 12px 40px;
  color: white;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bolder;
}

#upper-footer {
  height: 450px;
  width: 100%;
  background-image: url("../img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#upper-footer .container {
  display: flex;
}
#upper-footer h3 {
  text-transform: uppercase;
  color: white;
  margin: 15px 0;
}
#upper-footer nav {
  margin-right: 50px;
}
#upper-footer ul {
  list-style-type: none;
}
#upper-footer ul li {
  padding: 3px 0;
}
#upper-footer ul li a {
  font-size: 0.8rem;
  padding: 10px 0;
  color: #797979;
  text-transform: capitalize;
}
#upper-footer ul li a:hover {
  text-decoration: underline;
}

.col-2 {
  padding: 30px 0;
}

#footer-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#footer-logo {
  background-image: url("../img/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#lower-footer {
  background-color: #303030;
  height: 100px;
  text-transform: uppercase;
}
#lower-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#lower-footer h2 {
  color: white;
  font-size: 1.2em;
}
#lower-footer nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
#lower-footer nav > * {
  margin-right: 10px;
}
#lower-footer nav h2 {
  color: #0282f9;
}