h2 {
  color: #08405c;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

#sq-adv {
  text-align: right;
  flex-shrink: 0;
  width: 300px;
}
#sq-adv img {
  max-width: 100%;
  max-height: 100%;
}
#sq-adv figcaption {
  color: #6d6e6d;
  text-transform: uppercase;
  font-weight: bold;
}

.comic-pres {
  padding: 20px;
}

.comic-header {
  background-color: #55ba59;
  padding: 10px 20px;
  font-size: 0.8rem;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  color: #a1f188;
}

.comic-header:first-of-type {
  flex-grow: 1;
  border-right: 1px solid black;
}

.comic-description {
  color: #817873;
  line-height: 1.5rem;
  font-size: 0.9rem;
}

.about-comic {
  background-color: #f6f6f6;
  color: #08405c;
  padding-top: 40px;
}

.table-column {
  flex-basis: 50%;
}
.table-column h3 {
  margin-bottom: 20px;
}
.table-column h4 {
  margin-right: 60px;
}

.table-element {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
.table-element h4 {
  flex-basis: 30%;
}
.table-element ul {
  list-style-type: none;
}
.table-element ul li {
  display: inline;
}

.blue-banner {
  height: 80px;
  width: 100%;
  margin-bottom: 40px;
  background-color: #0c7cec;
}

.container {
  position: relative;
}
.container .comic-thumb {
  position: absolute;
  bottom: 350px;
  left: 0;
}
.container .comic-thumb img {
  max-width: 100%;
  max-height: 100%;
}
.container .comic-thumb .label-narrow {
  background-color: #00a9d9;
  color: white;
  font-size: 0.7rem;
  text-transform: uppercase;
  padding: 6px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}
.container .comic-thumb .label-wide {
  width: 100%;
  background-color: #00a9d9;
  color: white;
  font-size: 0.7rem;
  text-transform: uppercase;
  padding: 6px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
}